body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: center;
}

.row_form, .row_sucesso{
    justify-content: center;
}

.caixa_login, .caixa_sucesso{
    margin-top: 20%;
    padding: 90px;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.row_title{
    padding: 100px;
}

.title{
    text-align: center;
}

.menu{
    display: block;
}

.data_table{
    margin-top: 10%;
    background-color: white;
}

div#example_wrapper{
    padding: 1%;
}
.button-azul{
    float: right;
    margin: 2%;
}
#heading{
 margin-top:150px;
 text-align:center;
 font-size:27px;
 color:#2E2EFE;
}
#pass{
 margin-left:25%;
 height:45px;
 width:500px;
 border-radius:3px;
 border:1px solid grey;
 padding:10px;
 font-size:18px;
}
#meter_wrapper{
 border:1px solid grey;
 margin-top:20px;
 width:200px;
 height:35px;
 border-radius:3px;
}
#meter{
 width:0px;
 height:35px;
 border-radius:
}
#pass_type{
 font-size:20px;
 margin-top:20px;
 margin-left:45%;
 text-align:center;
 color:grey;
}